<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="../../static/mobile/style.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>paybasz mobil terminál</title>
</head>
<body>

    <div class="device">
        <div class="display">
            <div class="border">
                <span class="title color-white">Menü</span>
                <span class="line color-light-blue">F1: Beolvasás</span>
                <span class="line color-light-blue">F2: Fizetés</span>
                <span class="line color-light-blue">#: Egyenleg</span>
                <span class="line color-light-blue">*: Parancsok</span>
            </div>
        </div>
        <table class="keypad">
            <tr>
                <td class="table-field table-key-function">F1</td>
                <td class="table-field table-key-function">F2</td>
                <td class="table-field table-key-control">#</td>
                <td class="table-field table-key-control">*</td>
            </tr>
            <tr>
                <td class="table-field table-key-number">&nbsp;1&nbsp;</td>
                <td class="table-field table-key-number">&nbsp;2&nbsp;</td>
                <td class="table-field table-key-number">&nbsp;3&nbsp;</td>
                <td class="table-field table-key-control-direction"><span class="material-icons">north</span></td>
            </tr>
            <tr>
                <td class="table-field table-key-number">4</td>
                <td class="table-field table-key-number">5</td>
                <td class="table-field table-key-number">6</td>
                <td class="table-field table-key-control-direction"><span class="material-icons">south</span></td>
            </tr>
            <tr>
                <td class="table-field table-key-number">7</td>
                <td class="table-field table-key-number">8</td>
                <td class="table-field table-key-number">9</td>
                <td class="table-field table-key-control-circle">Esc</td>
            </tr>
            <tr>
                <td class="table-field table-key-control-direction"><span class="material-icons">west</span></td>
                <td class="table-field table-key-number">0</td>
                <td class="table-field table-key-control-direction"><span class="material-icons">east</span></td>
                <td class="table-field table-key-control-circle">Ent</td>
            </tr>
        </table>
    </div>

</body>
</html>