<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head" th:remove="body">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>PayBasz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <link rel="icon" href="favicon.ico">

    <meta name="msapplication-tap-highlight" content="no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="/custom-style.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-gray">
    <div class="app-main">
        <div th:replace="layout :: menu('accounts')"></div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div th:replace="layout :: menuMobile"></div>
                <div class="app-header mt-lg-5">
                    <div class="page-title-heading">
                        <span class="material-icons fix-material-icons">people</span> Felhasználók
                        <div class="page-title-subheading">
                            Itt regisztrálhatsz, módosíthatsz felhasználókat vagy adhatsz hozzá pénzt az egyenlegükhöz.
                        </div>
                    </div>
                    <div class="app-header-right">
                    </div>
                    <div class="app-header-overlay d-none animated fadeIn"></div>
                </div>
                <div class="app-inner-layout app-inner-layout-page">

                    <div class="app-inner-layout__wrapper">
                        <div class="app-inner-layout__content">
                            <div class="tab-content">
                                <div class="container-fluid">
                                    <div class="text-center d-block p-3 m-2">
                                        <a class="btn-pill btn-wide fsize-1 btn btn-primary" th:href="@{/admin/create-account}">
                                            <span class="mr-2 opacity-7">
                                                <i class="icon"><span class="material-icons">person_add</span></i>
                                            </span>
                                            <span class="mr-1">Felhasználó Regisztrálása</span>
                                        </a>
                                    </div>
                                    <div class="card mb-3" style="min-width: 920px">
                                        <div class="card-header-tab card-header">
                                            <div class="card-header-title font-size-lg text-capitalize font-weight-normal">
                                                <span class="material-icons header-icon icon-gradient bg-love-kiss">people</span>
                                                FELHASZNÁLÓK
                                            </div>
                                        </div>
                                        <div class="card-body">
                                                <table style="width: 100%" class="table table-bordered">
                                                    <thead>
                                                    <tr>
                                                        <th>Név</th>
                                                        <th>Email</th>
                                                        <th>Telefon</th>
                                                        <th>Kártya</th>
                                                        <th>Hitel keret</th>
                                                        <th>Vagyon</th>
                                                        <th>Letiltva</th>
                                                        <th>Megjegyzés</th>
                                                        <th>Lehetőségek</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr th:each="acc : ${accounts}">
                                                        <td th:text="${acc.getName()}">Kiss Pista</td>
                                                        <td th:text="${acc.getEmail()}">kisspista@gmail.com</td>
                                                        <td th:text="${acc.getPhone()}">+36307361443</td>
                                                        <td th:text="${acc.getFormattedCard()}" th:title="${acc.getCard()}">e908389f</td>
                                                        <td th:text="|${-acc.getMinimumBalance()} JMF|">1500 JMF</td>
                                                        <td th:text="|${acc.getBalance()} JMF|">0 JMF</td>
                                                        <td th:text="${acc.isAllowed() ? 'Nem' : 'Igen'}">Igen</td>
                                                        <td th:text="${acc.getComment().isEmpty() ? '' : '###'}" th:title="${acc.getComment()}">...</td>
                                                        <td style="text-align: right">
                                                            <form th:if="${acc.isAllowed()}" method="post" th:action="@{/admin/disallow}" style="display: inline"><input type="hidden" name="id" th:value="${acc.getId()}"><button type="submit" class="mb-2 mr-2 btn btn-danger" title="Letilt"><span class="material-icons fix-material-icons small-icons">block</span></button></form>
                                                            <form th:unless="${acc.isAllowed()}" method="post" th:action="@{/admin/allow}" style="display: inline"><input type="hidden" name="id" th:value="${acc.getId()}"><button type="submit" class="mb-2 mr-2 btn btn-success" title="Engedélyez"><span class="material-icons fix-material-icons small-icons">check_circle_outline</span></button></form>
                                                            <form th:unless="${acc.isProcessed()}" method="post" th:action="@{/admin/set-processed}" style="display: inline"><input type="hidden" name="id" th:value="${acc.getId()}"><button type="submit" class="mb-2 mr-2 btn btn-light" title="Könyvel"><span class="material-icons fix-material-icons small-icons">turned_in</span></button></form>
                                                            <form th:if="${acc.isProcessed()}" method="post" th:action="@{/admin/unset-processed}" style="display: inline"><input type="hidden" name="id" th:value="${acc.getId()}"><button type="submit" class="mb-2 mr-2 btn btn-dark" title="Könyvelési státusz visszaállítása"><span class="material-icons fix-material-icons small-icons">turned_in_not</span></button></form>
                                                            <a th:href="|@{/admin/modify-account/}${acc.getId()}|"  class="mb-2 mr-2 btn btn-info" title="Módosítás"><span class="material-icons fix-material-icons small-icons">create</span></a>
                                                            <a th:href="|@{/admin/upload-money/}${acc.getId()}|"  class="mb-2 mr-2 btn btn-alternate" title="Egyenleg feltöltése"><span class="material-icons fix-material-icons small-icons">publish</span></a>
                                                            <a th:href="|@{/admin/manual-transaction/}${acc.getId()}|" class="mb-2 mr-2 btn btn-warning" title="Fizetés"><span class="material-icons fix-material-icons small-icons">payment</span></a>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<object th:replace="layout :: scripts"></object>
</body>
</html>
