<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: head" th:remove="body">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>paybasz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no"/>
    <link rel="icon" href="favicon.ico">

    <meta name="msapplication-tap-highlight" content="no">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="/style.css" rel="stylesheet">
    <link href="/custom-style.css" rel="stylesheet">
</head>
<body>
<div class="app-container app-theme-gray">
    <div class="app-main">
        <div th:replace="layout :: menu('gateways')"></div>

        <div class="app-main__outer">
            <div class="app-main__inner">
                <div th:replace="layout :: menuMobile"></div>
                <div class="app-header mt-lg-5">
                    <div class="page-title-heading">
                        <span class="material-icons fix-material-icons">memory</span> Terminálok
                        <div class="page-title-subheading">
                            A konfigurált terminálok listája és statisztikája. Terminált hozzáadni a gateways.csv-ben lehet.
                        </div>
                    </div>
                    <div class="app-header-right">

                    </div>
                    <div class="app-header-overlay d-none animated fadeIn"></div>
                </div>
                <div class="app-inner-layout app-inner-layout-page">
                    <div class="app-inner-layout__wrapper">
                        <div class="app-inner-layout__content">
                            <div class="tab-content">
                                <div class="text-center d-block p-3 m-2 mb-3">
                                    <a class="btn-pill btn-wide fsize-1 btn btn-dark" th:href="@{/admin/create-gateway}">
                                        <span class="mr-2 opacity-7">
                                            <i class="icon"><span class="material-icons">memory</span></i>
                                        </span>
                                        <span class="mr-1">Terminál Létrehozása</span>
                                    </a>
                                </div>
                                <div class="tab-pane tabs-animation fade show active" id="tab-content-0" role="tabpanel">
                                    <div class="container-fluid">
                                        <div class="row">

                                            <div class="col-md-12 col-lg-6 col-xl-4" th:each="gw : ${gateways}">
                                                <div class="card-shadow-primary card-border mb-3 card">
                                                    <div class="dropdown-menu-header">
                                                        <div th:class="|dropdown-menu-header-inner ${gw.getType() == 'physical' ? 'bg-sunny-morning' : (gw.getType() == 'web' ? 'bg-dark' : 'bg-happy-fisher')}|">
                                                            <div class="menu-header-content">
                                                                <a href="#" th:if="${gw.getType() != 'web'}" th:href="|@{/admin/modify-gateway/}${gw?.getId()}|" class="gateway-edit-button"><span class="material-icons">edit</span></a>
                                                                <div>
                                                                    <h5 class="menu-header-title" th:text="${gw.getName()}">DevTerminal</h5>
                                                                    <h6 class="menu-header-subtitle" th:if="${gw.getType() == 'physical'}">FIZIKAI TERMINÁL</h6>
                                                                    <h6 class="menu-header-subtitle" th:if="${gw.getType() == 'web'}">WEBES TERMINÁL</h6>
                                                                    <h6 class="menu-header-subtitle" th:if="${gw.getType() == 'mobile'}">MOBIL TERMINÁL</h6>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="p-3">
                                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">INFORMÁCIÓK</h6>
                                                        <ul class="rm-list-borders list-group list-group-flush">
                                                            <li class="list-group-item">
                                                                <div class="widget-content p-0">
                                                                    <div class="widget-content-wrapper">
                                                                        <div class="widget-content-left">
                                                                            <div class="widget-subheading">Utolsó csomag</div>
                                                                        </div>
                                                                        <div class="widget-content-right">
                                                                            <div class="font-size-xlg text-muted">
                                                                                <span th:text="${gw.getLastPacketFormatted()}">12s</span>
                                                                                <small class="text-info pl-2">
                                                                                    <span class="material-icons fix-material-icons">history</span>
                                                                                </small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="widget-content p-0">
                                                                    <div class="widget-content-wrapper">
                                                                        <div class="widget-content-left">
                                                                            <div class="widget-subheading">Összes tranzakció</div>
                                                                        </div>
                                                                        <div class="widget-content-right">
                                                                            <div class="font-size-xlg text-muted">
                                                                                <span th:text="${gw.getTxCount()}">364</span>
                                                                                <small class="text-success pl-2">
                                                                                    <span class="material-icons fix-material-icons">payment</span>
                                                                                </small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li class="list-group-item">
                                                                <div class="widget-content p-0">
                                                                    <div class="widget-content-wrapper">
                                                                        <div class="widget-content-left">
                                                                            <div class="widget-subheading">Forgalom</div>
                                                                        </div>
                                                                        <div class="widget-content-right">
                                                                            <div class="font-size-xlg text-muted">
                                                                                <span th:text="${gw.getAllTrafficFormatted()}">431&nbsp;310</span>
                                                                                <small class="text-warning pl-2">
                                                                                    <span class="material-icons fix-material-icons">local_atm</span>
                                                                                </small>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="text-left d-block card-footer">
                                                        <h6 class="text-muted text-uppercase font-size-md opacity-5 font-weight-normal">UTOLSÓ BEOLVASÁSOK</h6>
                                                        <div th:each="read : ${gw.getLastReadings()}">
                                                            <span class="text-secondary" th:text="${read.getTimeFormatted()}">2020-11-04&nbsp;10:34:14</span><br />
                                                            <div class="text-dark" th:text="${read.getCard()}">e908389d4bbf30e8dc72dc47cdf6b45d89e8b2a0</div><br />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="app-drawer-overlay d-none animated fadeIn"></div>
<script type="text/javascript" src="/assets.js"></script>
</body>
</html>

